@model IEnumerable<L6_P2_4_TagHelper.DAL.Models.Party>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="incoming-parties">
    <h3>@Localizer["Header"]:</h3>
    <ul>
        @foreach (var party in Model)
        {
            <li>@party.Name</li>
        }
    </ul>
</div>
