body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 2em;
    background-color: antiquewhite;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    margin: auto;
}

    .content .socket-area {
        background-color: azure;
        width: 700px;
        height: 300px;
    }

    .content button {
        padding: 10px;
        border-radius: 20px;
        /*background: deepskyblue;*/
    }

.party-list li {
    display: flex;
    align-items: center;
}

    .party-list li img {
        margin-right: 10px
    }

    .party-list li p {
        margin: 0
    }

.file-fields {
    display: flex;
}

    .file-fields label {
        margin-right: 5px;
    }

.incoming-parties {
    background: wheat;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
}

.last-viewed-parties {
    /*padding: 10px;*/
}

.error {
    color: red;
}
