<div class="collapse navbar-collapse">
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Index">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </ul>
    }
</div>
