@model L6_P2_4_TagHelper.ViewModel.VoteViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@if (ViewContext.ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="error-box" asp-validation-summary="All"></div>
}

<form asp-controller="Party" asp-action="Vote" enctype="multipart/form-data">
    <input type="hidden" name="partyId" value="@Model.PartyId" /><br />

    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="error"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" />
        <span asp-validation-for="Email" class="error"></span>
    </div>

    <div>
        <label asp-for="IsAttend"></label>
        <input type="checkbox" asp-for="IsAttend" />
    </div>

    <div class="file-fields">
        <label asp-for="Photo"></label>
        <input type="file" name="photo" accept="image/*" />
    </div>
    <br />

    <input type="submit" value="@Localizer["Send"]" />
</form>
