@page
@model VoteModel
@{
    ViewData["Title"] = "Vote";
}
<h2>@ViewData["Title"]</h2>


<form method="post">
    Имя:<br>
    <input type="text" name="name"><br>
    Иду:<br>
    <input type="checkbox" name="attend"><br><br>
    <input type="submit" value="Голосовать">
</form>

